$font-size: 20px;
$color-green: red;
.hello-world-button {
  font-size: $font-size;
  padding: 10px, 14px;
  background-color: $color-green;
  color: wheat;
  outline: none;
}

.hello-world-text {
  color: $color-green;
  font-weight: bold;
}
